.about {
  width: 100%;
  padding: 4rem  0 0 0;
  
  &__container {
    max-width: 1200px;
    margin: 5% auto 0;
    padding: 0 1.5rem;
  }
  
  &__title {
    color: #2F6098;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  
  &__description {
    max-width: 900px;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 7.5rem;
    
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 1.375rem;
      line-height: 1.7;
      color: #1a365d; 
      text-align: left;
    }
    
    .highlight {
      font-weight: 700;
    }
  }
  
  &__subtitle {
    color: #2F6098;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 1.875rem;
    font-style: italic;
    font-weight: 500;
  }
  
  &__subtext {
    text-align: center;
    font-size: 1.375rem;
    color: #1a365d;
  }
  
  &__project-showcase {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  &__more-link {
    text-align: center;
    margin-top: 2rem;
    z-index: 10000;
    
    p {
      font-size: 1.375rem;
      color: #1a365d;
    }
    
    .link {
      color: #2B2B2B;
      font-family: "DM Sans";
      font-size: 1.375rem;
      font-style: italic;
      font-weight: 500;
      line-height: 2.1875rem;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      cursor: pointer;
      
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  .about {
    margin-top: 10vh;
    padding: 10vh 0 0 0;

    &__title {
      font-size: 2rem;
    }
    
    &__subtitle {
      font-size: 1.5rem;
    }

    &__more-link {
      margin-top: 0rem;
    }
    
    &__description p,
    &__subtext,
    &__more-link p {
      margin: 0;
      font-size: 1rem;
    }
  }
}