.infinite-carousel-container {
  width: 1120px; 
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .carousel-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    &:hover:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.9);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &:focus {
      outline: none;
    }
    &.prev-button {
      margin-right: 15px;
    }
    &.next-button {
      margin-left: 15px;
    }
  }

  .carousel-viewport {
    overflow: hidden;
    width: 1120px; 
    position: relative;
    border: 1px solid black;
    padding: 30px 0;
  }

  .carousel-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1850px; // Adjusted for margins
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .carousel-item {
    width: 350px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s, opacity 0.5s;

    &:first-child {
      margin-right: 50px; // Push first item off-screen
    }

    &:last-child {
      margin-left: 50px; // Push last item off-screen
    }
  }

  .carousel-item.active {
    transform: scale(1.2); 
    z-index: 3;          
    opacity: 1;
  }
}